* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gira {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

body{
  background-color: rgb(0, 81, 0);
  text-align: center;
}

.loading{
  animation: gira 2s infinite;
  width: fit-content;
}

h1 {
  height: 100px;
  color: red;
  background-color: rgb(198, 215, 0);
  text-align: center;
  line-height: 100px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 50px;
  color: white;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(42, 255, 0);
  height: fit-content;
  padding: 20px;
  gap: 15px;
}

.img_card {
  height: 30%;
  border-radius: 10px;
  text-align: center;
}

.body_card>* {
  border-bottom: 1px solid rgb(234, 255, 0);
  margin-bottom: 5px;
}

.death {
  border: 1px solid red;
}

.filter {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80px;
}

label {
  padding: 10px 15px;
  border: 1px solid yellow;
  border-radius: 10px;
}

input {
  padding: 10px 15px;
  border: 1px solid yellow;
  border-radius: 10px;
}

strong{
  color: #58e50a;
}